<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %} {% block body %}
<u><h3 class=" text-center">about us</h3></u>

<p><h2 class=" text-center">Ava Raskin and Nuriel Cahigas</h2>

<p><h5 class=" text-center"> Hello! Our names are Ava and Nuriel and we are avid environmentalist based in the bay area. We like making art and helping the enviorment so we decided to create an app that includes both topics.<h5></p>

    <p><h6 class=" text-center"><img src=/static/moose.jpg width="500">

{% endblock %}
