<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %} {% block body %}
<body style="background-color:#adccab;">  
<u><h3 class=" text-center">about us</h3></u>

<p><h2 class=" text-center">Ava Raskin and Nuriel Cahigas</h2>

<p><h5 class=" text-center"> Hello! Our names are Ava and Nuriel and we are avid environmentalist based in the bay area. We like making art and helping the enviorment so we decided to create an app that includes both topics.<h5></p>

    <p><h6 class=" text-center"><img src=/static/moose.jpg width="500">
    <br>
    <hr style="border: 2px dashed rgb(76, 121, 86);" />
    <br>
        <u><h3 class=" text-center">Nuriel's Art!</h3></u>
    <br>
        <div class="row ">
            <div class="col text-center">
                <p><img src="static/nurielart1.jpg" alt="" width="400"></p>
            <em><h9>Girl in Flower Field</h9></em>
            <br>
            <br>
            <p><img src="static/nurielart4.jpg" alt="" width="380"></p>
            <em><h9>Birdy Bird</h9></em>
            </div> 
            <div class="col text-center">
                <p><img src="static/nurielart2.jpg" alt="" width="320"></p>
                <div class="col text-center">
                    <em><h9>Sad Lion, Sad Girl</h9></em>
                    <br>
                    <p><img src="static/nurielart3.jpg" alt="" width="350"></p>
 <em><h9>Cats</h9></em>
 <br>
 <br>
            </div>
{% endblock %} 
