{% extends 'base.html' %} {% block body %}
<body style="background-color:#a4b8a3;">  
<marquee direction="right" ><img src="http://assets.stickpng.com/images/580b57fbd9996e24bc43bcda.png" alt="" width="100"> <h7>We Shell Welcome You to our Website!</h7><img src="http://assets.stickpng.com/images/580b57fbd9996e24bc43bcda.png" alt="" width="100"></marquee>
<u><p><h2 class=" text-center">Wetlands and EcoArt!</h2></u>
    <br>
    <u><p><h4 class=" text-center">What are Wetlands?</h4></u>
        <p><h6 class=" text-center">A wetland is a distinct ecosystem that is flooded by water, either permanently or seasonally. Flooding results in oxygen-free processes prevailing, especially in the soils.</h6>

            <u><p><h4 class=" text-center">What is Ecoart?</h4></u>
                <p><h6 class=" text-center">Ecological art is an art genre and artistic practice that seeks to preserve, remediate and/or vitalize the life forms, resources and ecology of Earth. </h6>

                    <p><h4 class=" text-center"><img src=static/wetlandss.jpg height="400"> 

{% endblock %}

