{% extends 'base.html' %} {% block body %}

<marquee direction="right" height="20" width="900" bgcolor="white">Click Here To Get Involved! Click Here To Get Involved! Click Here To Get Involved!</marquee>
<u><p><h2 class=" text-center">Wetlands and EcoArt!</h2></u>
    <br>
    <u><p><h4 class=" text-center">What are Wetlands?</h4></u>
        <p><h6 class=" text-center">A wetland is a distinct ecosystem that is flooded by water, either permanently or seasonally. Flooding results in oxygen-free processes prevailing, especially in the soils.</h6>

            <u><p><h4 class=" text-center">What is Ecoart?</h4></u>
                <p><h6 class=" text-center">Ecological art is an art genre and artistic practice that seeks to preserve, remediate and/or vitalize the life forms, resources and ecology of Earth. </h6>

                    <p><h4 class=" text-center"><img src=static/wetlandss.jpg height="400"> 

{% endblock %}

